.btn {

    width: 630px;
    background-color: #ff3b3f;
    height: 60px;
    color: white;
    font-weight: 900;
    font-size: 48px;
    border: none;
    border-radius: 80px;
    margin-top: 190px;
}